@import "./base/base";
@import "./utils/variables";
@import './components/header';
@import './components/main';
@import './components/pagination';
@import './components/footer';
@import "./components/styles_movies";
<<<<<<< HEAD
@import "./components/students";
=======
@import "./components/modal";

>>>>>>> d3b1314b9fb1be1abc8329b7b2b190db536e360c

.container {
  margin: 0 auto;
  padding: 0 16px;
  width: 1024px;
}

.active {
  border-bottom: 3px solid var(--main-button-background);
}

.button-active {
  background-color: var(--main-button-background);
  color: var(--white-color);
  border-radius: 5px;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
