#modal {
  width: 75%;
  height: 90%;
  border-radius: 10px;
  padding: 40px;
  border: 1px solid white;
}

#add-movies-modal {
  display: flex;
}

.title-description-movies {
  font-family: 'Roboto', sans-serif;
  width: 500px;
  font-size: 55px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 50px;
  margin-top: 10px;
}

.contenedor-dentro-pre-info {
  display: flex;
}

.preinfo-clave {
  margin-top: 10px;
  margin-bottom: 34px;
}

.preinfo-valor {
  margin-top: 7.5px;
  margin-left: 100px;
  margin-bottom: 27.5px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  
}

.container-preInfo-clave {
  color: rgba(140, 140, 140, 1);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.description {
  width: 650px;
  color: black;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}

.container-preInfo-valor {
  color: black;
}

.contenedor-rating {
  display: flex;
}


.rating-valor {
  justify-content: center;
  align-items: center;
  background-color: orange;
  width: 50px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
}

.rating-valor2 {
  margin-top: 8px;
  margin-left: 10px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.contenedor-add-modal-2 {
  margin-left: 50px;
  color: black;
}

.container-preInfo-valor{
  color: black;
}

.about-modal {
  margin-top: 25px;
  margin-bottom: 15px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;

}

.buttom__icon {
  padding: 9px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.buttom__icon:hover, .buttom__icon:focus {
  fill: #2196f3;
}

#btn-close-modal {
  background-color: white;
  position: absolute;
  right: 8px;
  top: 8px;
  border: none;
  cursor: pointer;
}

#addToWatched, #addToQueue {
    background: #007bff;
    padding: 10px 20px;
    margin: 10px 10px 0 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
  @media (max-width: 1200px) {
    .modal-content {
      max-width: 90%;
      width: 90%;
    }
  }