#modal {
  width: 882px;
  height: 568px;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 4px;
  padding: 40px;
}

.buttom__icon {
  padding: 9px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.buttom__icon:hover, .buttom__icon:focus {
  fill: #2196f3;
}

#btn-close-modal {
  background-color: white;
  position: absolute;
  right: 8px;
  top: 8px;
  border: none;
  cursor: pointer;
}

#addToWatched, #addToQueue {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 10px 0 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
  @media (max-width: 1200px) {
    .modal-content {
      max-width: 90%;
      width: 90%;
    }
  }