.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.pagination-button {
  font-weight: 500;
  padding: 12px 18px;
  background-color: var(--next-arrow-background);
  border-radius: 5px;
  
}
.pagination-number {
  color: var(--title-color);
  font-weight: 500;
  padding: 12px 18px;
}
.next-arrow-background {
  background-color: var(--title-color);
  border-radius: 5px;
}

.pagination-number.active {
  color: #fff;
  background: var(--subtitle-color);
}
