.movie-list {
  }

.movie {
  }

  /* Estilo para las imágenes de las películas */
  .movie_img {
  }
  
  /* Estilo para el título de la película */
  .movie h2 {
    font-size: 1.2em; 
    text-align: center;
  }
  
  /* Estilo para el género de la película */
  .movie p {
    font-size: 1em; 
    color: #555;
  }